* {
    box-sizing: border-box;
}

.red {}

.special {}

.green {
    filter: hue-rotate(100deg);
}

.blue {
    filter: hue-rotate(200deg);
}

.purple {
    filter: hue-rotate(300deg);
}

body {
    background-color: #170A52;
}

#hand > img {

    width: 10%;
    height: 10%;
}

#draw_pile > img {
    width: 30%;
}

#top_card > img {
    width: 30%;
}

#board {
    position: relative;
    border-radius: 15px;
    border: 10px solid #34ebe8;
    margin: auto;
    margin-top: 2%;
    background-color: #06001F;
    width: 90%;
    height: 650px;
}

#hand {
    position: relative;
    border-radius: 15px;
    border: 10px solid #34ebe8;
    margin: auto;
    margin-top: -8%;
    background-color: #06001F;
    width: 50%;
    height: auto;
    z-index: 1;
}
