* {
    box-sizing: border-box;
}

.disabled {
    opacity: 0.5;
}

.red {}

.special {}

.green {
    filter: hue-rotate(100deg);
}

.blue {
    filter: hue-rotate(200deg);
}

.purple {
    filter: hue-rotate(300deg);
}

body {
    background-color: #170A52;
}

#hand > img {

    width: 10%;
    height: 10%;
}

#draw_pile > img {
    width: 30%;
}

#top_card > img {
    width: 30%;
}

#board {
    position: relative;
    border-radius: 15px;
    border: 10px solid #34ebe8;
    margin: auto;
    margin-top: 2%;
    background-color: #06001F;
    width: 90%;
    height: 650px;
}

#hand {
    position: relative;
    border-radius: 15px;
    border: 10px solid #34ebe8;
    margin: auto;
    margin-top: -8%;
    background-color: #06001F;
    width: 50%;
    height: auto;
    z-index: 1;
}

#draw_pile {
    position: absolute;
    margin-top: 15%;
    margin-left: 35%;
}

#top_card {
    position: absolute;
    margin-top: 15%;
    margin-left: 55%;
}

.player_box {
    position: relative;
    border-radius: 15px;
    border: 5px solid #34ebe8;
    background-color: #06001F;
    width: 20%;
}

p {
    font-size: 15px;
    font-family: arial;
    font-weight: bold;
    color: #ffffff;
}

.top {
    margin: auto;
    margin-top: 1%;
}

.left {
    margin-top: 10%;
    margin-left: 1%;
}

.right {
    margin-top: -8%;
    margin-left: 79%;
}

.bottom {
    margin: auto;
    margin-top: 9%;
}

.enabled {
    border: 10px solid #00ff00;
}
